*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

header{
    width: 100%;
    padding: 2rem 0;
    background-color: #9B8BFE;    ;
}

.headerContainer{
    margin: 0 2rem;
}

.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.navBarLogin{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    column-gap: 2rem;
}

.navBarLogin p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 134.77%;
    display: flex;
    align-items: center;
    text-align: center;    
    color: #ffff;
}

.navBarLogin p{
    font-weight: 600;
    cursor: pointer;
}

.navBarLogin p:hover{
    text-decoration: underline;
}

.navBarLogin button{
    width: 200px;
    height: 80px;
    color: #ffff;
    font-weight: 500;
    font-size: 22px;
    font-family: 'roboto';
    background: #000000;
    border-radius: 5px;
}
.navBarLogin button:hover{
    cursor: pointer;
}
.headerContainer h1{
    color: #ffff;
    font-size: 36px;
    margin: 1rem;
    letter-spacing: 0.1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    ;
}
    
.headerContainer span{
    color: black;
    
}


/*- ------- BODY---------*/
.novedades{
    height: 662px;
    width: 100%;
    background-color: #D5CEFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.novedadestext{
    width: 40%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 5rem;
    font-size: 30px;
}
.novedadestext h3 {
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 55px;
}
.novedadesBoxContainer{
    width: 60%;
    height: 100%;
    background-color: #D5CEFF;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.novedadesBox{
    display: flex;
    align-items: center;
    margin: 0.4rem;
    width: 670px;
    height: 480px;
    background-color: #ffff;
    border: 1px #000000 solid;
}

.novedadestext button{
    width: 200px;
    height: 60px;
    background-color: #000000;
    color: #ffff;
    font-weight: 500;
    font-family: 'roboto';
    margin-top: inherit;
    border-radius: 5px;
}
.novedadestext button:hover{
    border: solid #ffffff 1px;
    cursor: pointer;
    background-color: #6750fe;
    
}



/* HOME */

/* HOME */
.bienvenidaContainer{
    background-color: #D5CEFF;
    padding: 3rem;
}

.bienvenidaContainer h2{
    font-size: 1.5rem;
}

.mainContainer{
    margin: 0;
}

.mainContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: .75rem;
    row-gap: 1rem;
    padding: 1rem;
}

.mainContentCol1{
    padding: 0;
    flex: 4;
}

.mainContentCol2{
    background-color: #9B8BFE;
    flex: 1;
}

.mainContentCol2 ul{
    padding: 1rem;
    margin: 0;
    list-style: none;
    text-align: center;
    color: white;
    display: grid;
    row-gap: 1.5rem;
}

.mainContentCol2 a{
    color: white;
    text-decoration: none;
}

.mainContentCol2 a:hover{
    color: #e6e6e6;
}

.opcionesHeader{
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    padding-bottom: 20px;
}

.opcionesButton {
    background-color: #fff;
    border: 1px solid black;
    outline: none;
    font-weight: 500;
    transition: background-color .3s ease-in;
    min-width: 19%;
    padding: 10px 0;
}

.opcionesButton:hover{
    background-color: #e6e6e6;
}

.opcionesButton.active {
    background-color: #9B8BFE;
    color: #fff;
    min-width: 30%;
}

.opcionesButton.active:hover{
    background-color: #877bd7;
}

.opcionesMain{
    display: flex;
    flex-direction: column;
    height: calc(100% - 66px);
    justify-content: space-between;
}

.opcionesMain .opciones{
    background-color: #D5CEFF;
    padding: .75rem;
    font-weight: 700;
}

@media screen and (min-width:1024px) {
    .mainContent{
        flex-direction: row;
        padding: 1rem 1rem 1rem 3rem;
        background-color: #fff;
    }

    .opcionesButton {
        min-width: 100px;
        padding: 10px 60px;
        min-width: none;
    }

    .opcionesButton.active {
        padding: 10px 100px;
        min-width: none;
    }


}

.containerPromocion{
    display:grid;
    width: 100%;
    height: 500px;
    margin:auto;
    padding:10px;
    background-color: #AB9DFF;
}


.promocionFoto{
    grid-row: 1/1; 
    grid-column: 1/6;  
    width: 100%;
    max-width: 700px;
    padding: 2rem;
}

.promocionTexto{
    grid-row: 1/1; 
    grid-column: 7/12;  
    padding: 30px 30px 50px 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    ;
}

/* COMIENZO DE NUESTROS PRODUCTOS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
/* COLOR DE FONFO: #AB9DFF */

html, body{
    margin: 0;
    padding: 0;
    background-color: #AB9DFF;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.title{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 100;
}

.subtitle{
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 0px;
    font-weight: 0;
}

.productos{
    padding-bottom: 10px;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 250px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .card:hover{

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);;
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
/* FIN DE NUESTROS PRODUCTOS */

/*---Media queries---*/

@media screen and (min-width: 780px) and (max-width: 1320px){

    .containerPromocion{
        display:grid;
        width: 100%;
        height: 100%;
        margin:auto;
        padding:10px;
        background-color: #AB9DFF;
    }
    
    .promocionTexto{
        grid-row: 2/2; 
        grid-column: 2/10; 
        padding:1rem;
    }

    .promocionFoto{
        grid-row: 1/1; 
        grid-column: 1/12;  
        width: 100%;
        padding: 1rem;
        display: block;
        margin:0 auto;
   }

}


@media screen and (min-width: 480px) and (max-width: 780px){
    .containerPromocion{
        display:grid;
        width: 100%;
        height: 100%;
        margin:auto;
        padding:10px;
        background-color: #AB9DFF;
    }
    
    .promocionTexto{
        grid-row: 2/3; 
        grid-column: 2/10; 
    }
    
    .promocionFoto{
        grid-row: 1/1; 
        grid-column: 1/12;  
        width: 100%;
        padding: 1rem;
        display: block;
        margin:0 auto;
   }

}


@media screen and (max-width: 480px){
    .containerPromocion{
        display:grid;
        width: 100%;
        height: 100%;
        margin:auto;
        padding:0;
        background-color: #AB9DFF;
    }
    
    .promocionTexto{
        grid-row: 2/3; 
        grid-column: 2/10; 
    }
    
    .promocionFoto{
        grid-row: 1/1; 
        grid-column: 1/12;  
        width: 100%;
        padding: 1rem;
        display: block;
        margin:0 auto;
   }
}   
