.ayudaHeader p,
.ayudaCardContent a,
.ayudaCardContent p,
.ayudaCardContent h2 {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.ayudaCardContent h2 {
  margin: 1rem 0;
  font-size: 1.6rem;
}

.ayudaCardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  position: relative;
  max-height: none;
}

.ayudaCard {
  max-width: 300px;
  height: 400px;
  padding: 1rem;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.ayudaCard img {
  max-height: 15vh;
}

.ayudaCardContent a {
  margin: 20px auto;
}

@media screen and (min-width: 1024px) {
  .ayudaCardsContainer {
    flex-direction: row;
    column-gap: 2rem;
  }
  .ayudaCardContent a {
    position: absolute;
    bottom: 20px;
    right: -50%;
    left: -50%;
  }
}
