nav.menuDesktop {
  display: none;
}

nav.menuMobile {
  height: 100vh;
  position: absolute;
  right: 0;
}

#menuMobile li {
  min-width: 200px;
}

#menuMobile a {
  color: #023e8a;
  text-decoration: none;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  margin-right: 2rem;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuMobile {
  position: absolute;
  width: 208px;
  height: 100vh;
  box-shadow: 0 0 10px #85888c;
  margin: -7vh -52vw;
  padding: 95vh 44vw 95vh 30vw;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 100px;
  transform: translate(112%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  list-style: none;
  justify-content: left;
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

@media screen and (min-width: 768px) {
  nav.menuMobile {
    display: none;
  }
  nav.menuDesktop {
    display: block;
  }

  nav.menuDesktop ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    column-gap: 2rem;
  }

  nav.menuDesktop li a {
    color: #f5f6fa;
    text-decoration: none;
  }
}
